<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MonSite</a>
    
    <!-- Collapse feature
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->

    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="">Choix 1</a></li>
            <li class="nav-item"><a class="nav-link" href="">Choix 2</a></li>
        </ul>
    </div>
</nav>
